PORT=8000
CORS_ORIGIN="http://localhost:5173"
NODE_ENV = "development"

APP_URL = http://localhost:8000
JWT_SECRET = "ddfghjkl;'iucxcvbnm"

# Cloud DB (Neon)
DATABASE_URL="postgresql://neondb_owner:npg_xbjm3AiJyqZ4@ep-late-fire-anfhvjpf-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Local DB
DATABASE_URL_LOCAL="postgresql://root:root@localhost:5432/root"